extends layout

include _includes/sharedHTMLfunctions

block content
  .container
    .row.page-header
      .col-lg-12
        h3 #{title}
    - if ((errors) && (errors.length > 0)) {
      .row
        h3.text-danger Errors and Warnings Detected
      .row
        +outputErrors(errors)
    - }
  each maxData in maxSessionNumbers
    - var newSessionNumber = maxData.max_session_number + 1;
    .row
      form(action="/executeCreateNewSession", method="POST", role="form").form-horizontal.col-md-12.jumbotron
        input(type="hidden", name="lab_id", value="#{maxData.lab_id}")
        fieldset
          legend Create a Session for #{maxData.lab_code} (#{maxData.long_name})
          .form-group
            label(for="session_number").col-md-2.control-label Session Number
            .col-md-2
              input(type="text", name="session_number", value="#{newSessionNumber}").form-control.text-right
            label(for="session_number").col-md-3.float-left.control-label last session was #{maxData.max_session_number)
          .form-group
            label(for="start_date").col-md-2.control-label Start Date
            .col-md-2
              input(type="text", name="start_date", value="2017-12-24").form-control.text-right
            label(for="start_date").col-md-4.control-label Date of Equipment Calibration (YYYY-MM-DD)
          .form-group
              .col-md-10.col-md-offset-2
                button(type="submit").btn.btn-primary Create Session for #{maxData.lab_code}

