
extends layout

include _includes/sharedHTMLfunctions

block content
  .container
    .row.page-header
      .col-lg-12
        h3 #{title}
    - if ((errors) && (errors.length > 0)) {
      .row
        h3.text-danger Errors and Warnings Detected
      .row
        +outputErrors(errors)
    - }
    .row
      .col-md-12
        form(action="/executeEditSamplesOnDate", method="POST", role="form").col-md-12
          input(type="hidden", name="labId", value="#{labId}")
          input(type="hidden", name="sessionNumber", value="#{sessionNumber}")
          input(type="hidden", name="labLongName", value="#{labLongName}")
          input(type="hidden", name="theDate", value="#{theDate}")
          table.table.table-striped.table-hover
           thead
             tr
               th Location Name
               th Location Code
               th.in-situ-header-cell Time
               th.in-situ-header-cell Temp
               th.in-situ-header-cell Sal
               th.in-situ-header-cell DO
               th.in-situ-header-cell DO Sat
               th.in-situ-header-cell pH
               th.in-situ-header-cell 
               th.in-situ-header-cell Turbidity (NTU)
               th.in-situ-header-cell 
           thead
             tr
               th 
               th 
               th.in-situ-header-cell
               th.in-situ-header-cell (C)
               th.in-situ-header-cell (ppt)
               th.in-situ-header-cell (mg/L)
               th.in-situ-header-cell (%)
               th.in-situ-header-cell
               th.in-situ-header-cell 1
               th.in-situ-header-cell 2
               th.in-situ-header-cell 3
           each sample in samples

             - var sampleTime = sample.time;
             - if ((sampleTime !== null) && (sampleTime !== undefined)){ sampleTime = sampleTime.slice(0,5); } else { sampleTime = ""};
             - var temperature = sample.temperature;
             - if ((temperature !== null) && (temperature !== undefined)) { temperature = temperature.toFixed(1); } else { temperature = ""; };
             - var salinity = sample.salinity
             - if ((salinity !== null) && (salinity !== undefined)) { salinity = salinity.toFixed(1); } else { salinity = ""; };
             - var dissolved_oxygen = sample.dissolved_oxygen
             - if ((dissolved_oxygen !== null) && (dissolved_oxygen !== undefined)) { dissolved_oxygen = dissolved_oxygen.toFixed(2); } else { dissolved_oxygen = ""; };
             - var dissolved_oxygen_pct = sample.dissolved_oxygen_pct
             - if ((dissolved_oxygen_pct !== null) && (dissolved_oxygen_pct !== undefined)) { dissolved_oxygen_pct = dissolved_oxygen_pct.toFixed(1); } else { dissolved_oxygen_pct = ""; };
             - var ph = sample.ph
             - if ((ph !== null) && (ph !== undefined)) { ph = ph.toFixed(2); } else { ph = ""; };
             - var turbidity_1 = sample.turbidity_1
             - if ((turbidity_1 !== null) && (turbidity_1 !== undefined)) { turbidity_1 = turbidity_1.toFixed(2); } else { turbidity_1 = ""; };
             - var turbidity_2 = sample.turbidity_2
             - if ((turbidity_2 !== null) && (turbidity_2 !== undefined)) { turbidity_2 = turbidity_2.toFixed(2); } else { turbidity_2 = ""; };
             - var turbidity_3 = sample.turbidity_3
             - if ((turbidity_3 !== null) && (turbidity_3 !== undefined)) { turbidity_3 = turbidity_3.toFixed(2); } else { turbidity_3 = ""; };

             tr
               td #{sample.long_name}
               td #{sample.hui_abv}
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.time", value="#{sampleTime}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.temperature", value="#{temperature}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.salinity", value="#{salinity}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.dissolved_oxygen", value="#{dissolved_oxygen}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.dissolved_oxygen_pct", value="#{dissolved_oxygen_pct}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.ph", value="#{ph}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.turbidity_1", value="#{turbidity_1}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.turbidity_2", value="#{turbidity_2}").form-control
               td
                 input(type="text", autoComplete="off", name="sampleTag.#{sample.sample_id}.turbidity_3", value="#{turbidity_3}").form-control
          button(type="submit").btn.btn-primary Update
