include dataFormatting

mixin outputErrors(errors)
  each error in errors
    - levelClass = "text-" + error.level.toLowerCase()
    div
     h4(class="#{levelClass}") #{error.title}
     each textRow in error.text
       div(class="#{levelClass}") #{textRow}

mixin samplersString(samplers)
 - var samplerStr = "";
 - var count = 0;
 each sampler in samplers
   - samplerStr += sampler.first_name + " " + sampler.last_name;
   - ++count;
   - if (count < samplers.length) {
   -   samplerStr += ", ";
   - }
 .p.text-left #{samplerStr}


mixin outputMeasurementsRow(sample)
  tr
    td #{sample.long_name}
    td.in-situ-table-cell
     +formatSampleTime(sample.time)
    td.in-situ-table-cell
     +formatSampleWithSigFigs(sample.temperature, 1)
    td.in-situ-table-cell
     +formatSampleWithSigFigs(sample.salinity, 1)
    td.in-situ-table-cell
     +formatSampleWithSigFigs(sample.dissolved_oxygen, 2)
    td.in-situ-table-cell
     +formatSampleWithSigFigs(sample.dissolved_oxygen_pct, 1)
    td.in-situ-table-cell
     +formatSampleWithSigFigs(sample.ph, 2)
    td
      table.in-situ-inner-table
          tr
            td
              +formatSampleWithSigFigs(sample.turbidity_1, 2)
          tr
            td
              +formatSampleWithSigFigs(sample.turbidity_2, 2)
          tr
            td
              +formatSampleWithSigFigs(sample.turbidity_3, 2)
    td #{sample.comments}



mixin outputSessionDay(dayObj, labId, sessionNumber)
 .row
   .col-md-2
     h3 #{dayObj.date}
   .col-md-4
     a(href="/editSamplesOnDate/#{labId}/#{sessionNumber}/#{labLongName}/#{dayObj.date}").btn.btn-sm.btn-info Edit This Day
 .row
   .col-md-1
     strong Samplers:
   .col-md-11
     +samplersString(dayObj.workers)
 .row
   .col-md-12
      table.table.table-striped.table-hover
       thead
         tr
           th Location Name
           th.in-situ-header-cell Time
           th.in-situ-header-cell Temp (C)
           th.in-situ-header-cell Sal (ppt)
           th.in-situ-header-cell DO (mg/L)
           th.in-situ-header-cell DO Saturation (%)
           th.in-situ-header-cell pH
           th.in-situ-header-cell Turbidity(NTU)
           th Comments
       tbody
         each sample in dayObj.samples
           +outputMeasurementsRow(sample)

mixin outputSession(dataByDate, labId, sessionNumber)
  each dayObj in dataByDate
   +outputSessionDay(dayObj, labId, sessionNumber)
